// res/resource.rc
#include "resource.h"
IDI_ICON1 ICON "icon.ico"

IDD_SETTINGS DIALOGEX 0,0,200,120
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "设置"
FONT 9,"Segoe UI"
BEGIN
    GROUPBOX "隐藏模式",-1,7,7,186,40
    CONTROL "隐藏图标",IDC_HIDE,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,15,20,80,14
    CONTROL "显示在后台应用目录",IDC_TRAY,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,15,35,120,14
    LTEXT "透明度选择:",-1,7,55,60,14
    COMBOBOX IDC_TRANS,70,53,120,80,CBS_DROPDOWNLIST|WS_TABSTOP
    DEFPUSHBUTTON "确定",IDOK,50,90,50,14
    PUSHBUTTON "取消",IDCANCEL,110,90,50,14
END
